#enviar {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(255, 217, 0);
    font-weight: 600;
}

#enviar:hover {
    background-color: rgb(253, 227, 79);
}

.finEjercicio {
    font-weight: 600;
}